#lists-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
    margin: 0 20px;
    background-color: blue;
    align-items: baseline;
    justify-content: center;
    gap: 10px;
}
