.list-card {
    width: 300px;
    background-color: #344C64;
}

.list-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 2px solid #57A6A1;
}

.list-heading > h3 {
    text-align: center;
    color: #57A6A1;
}

.list-card > ul {
    list-style: none;
    padding: 15px 0;
    margin: 0 10px;
}

.no-tasks {
    text-align: center;
    padding: 20px 0;
    color: #57A6A1;
}

.add-task {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 10px 10px;
}

.add-task > * {
    background-color: #577B8D;
    border-radius: 6px;
    color: #57A6A1;
}

::placeholder {
    color: #57A6A1;
}

.add-task > input {
    width: calc(100% - 28px);
}

.add-task > button {
    width: 23px;
}

.list-delete {
    width: 25px;
    height: 21px;
}

.list-delete > button {
    cursor: pointer;
    display: none;
}

.list-delete:hover {
    > button {
        display: block;
    }
}