@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: Comfortaa, sans-serif;
    background-image: url(https://unsplash.com/photos/a-white-table-topped-with-lots-of-colorful-confetti-p7iaoHjWDbI);
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-start;
    gap: 40px;
    background-color: #D6DAC8;
    min-width: 100vw;
    min-height: 100vh;
}

#root > h1 {
    color: #57A6A1;
    text-decoration: underline;
    padding: 40px 0 0;
    cursor: default;
}

input[type='checkbox'] {
    background-color: #57A6A1;
}
